name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    verify:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install shells
              run: |
                  sudo apt-get update
                  sudo apt-get install -y zsh fish
            - name: Cache Go Modules
              uses: actions/cache@v4
              with:
                  path: ~/go/pkg/mod
                  key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
                  restore-keys: |
                      ${{ runner.os }}-go-
            - name: Environment
              uses: actions/setup-go@v4
              with:
                  go-version-file: go.mod
            - name: Dependencies
              run: go mod download
            - name: Build
              run: make build
            - name: Test
              run: make test && make test/completions
            - name: Bench
              run: make bench
            - name: Coverage
              uses: codecov/codecov-action@v3
              with:
                  name: diffscribe
                  token: ${{ secrets.CODECOV_TOKEN }}
                  file: ./.out/coverage/coverage.out
                  fail_ci_if_error: true
